body {
  scroll-behavior: smooth;
}

/* Efek pergerakan teks saat hover di Mobile */
.mobile-link {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}

.mobile-link:hover {
    transform: translateX(8px); /* Teks sedikit bergeser ke kanan */
}

/* Animasi munculnya Menu Mobile agar tidak kaku */
#mobile-menu:not(.hidden) {
    animation: slideDown 0.4s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* GRID BACKGROUND */
.hero-grid {
  background-color: #f9fafb; /* putih soft */
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.04) 1px, transparent 1px);
  background-size: 40px 40px; /* ukuran kotak */
}

.hero-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 40%, #f9fafb 100%);
  pointer-events: none;
}

/* COLLECTION */
.collection {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.collection img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.4s;
}

.collection:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

/* ANIMASI SCROLL */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* FEATURE */
.feature {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
}

.feature:hover {
  transform: translateY(-5px);
}

/* TESTI */
.testi {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  background: white;
}

.testi span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}